@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --kumbh-sans: 'Kumbh Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(var(--soft-violet) 20%,
                              var(--soft-blue));
  
}

.accordion,
.data {

}

main.accordion {
  background-color: var(--light-grayish-blue);
  border: 1px solid black;
  font-family: var(--kumbh-sans);
  font-size: 1.2rem;
  display: grid;
  border-radius: 24px;
  justify-items: center;
  border: none;
  padding: 3rem 2.5rem 3rem;
  position: relative;
  
}

.data {
  display: flex;
  flex-direction: column;

}

img {
  max-width: 100%;
  height: auto;
}

picture {
  width: 250px;
  position: absolute;
  z-index: 0;
  align-self: center;
  top: -11.5rem;
  
}

.box {
  display: none;
}

.data > h1 {
  align-self: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 10rem;
  margin-bottom: 4rem; 
}



.header {
  font-size: 1.4rem;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.header > img {
  cursor: pointer;
  width: 8px;
  height: 6px;
}

.header-5 {
  
}

.item {
  display: flex;
  flex-direction: column;
}

.item .body {
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
}

.current-item .header {
  font-size: 1.4rem;
  font-weight: 700;
}

.current-item .body {
  height: 60px;
  margin-top: -2.5rem;
}

.body-text {
  font-size: 1.4rem;
  color: var(--dark-grayish-blue);
  line-height: 1.9rem
}

.arrow {
  transition: rotate 0.2s;
}

.rotate {
  transform: rotate(180deg);
}


@media (min-width: 600px) {

  main.accordion {
    max-width: 1000px;
    padding: 1rem 10rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "picture data";
    justify-items: unset;
  }

  picture {
    grid-area: picture;
    width: 500px;
    top: 6rem;
    right: 8rem;
  }

  .box {
    display: block;
    position: absolute;
    top: 20rem;
    right: 93rem;
  }

  .data {
    grid-area: data;
    position: relative;
    bottom: 5rem;
  }

  .data > h1 {
    align-self: start;
  }

  .header {
    
  }

  .header > img {

  }

  .item {

  }

  .item .body {

  }

  .current-item .body {

  }

  .body-text {

  }

  .arrow {
    
  }

  .rotate {

  }
}
